{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-2",
    "@ava/stage-4",
    "@ava/transform-test-files"
  ],
  "plugins": [
    "transform-runtime"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-2"
      ]
    }
  }
}
