{
  "extends": [
    "stylelint-config-factorial",
    "./node_modules/prettier-stylelint/config.js"
  ],
  "plugins": [
    "stylelint-selector-bem-pattern",
  ],
  "rules": {
    "plugin/selector-bem-pattern": {
      "preset": "suit"
    },
    "string-quotes": "double"
  }
}
